<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>表单数据</title>
</head>
<body>
   <div id="vid">
       用户名：<input type="text" v-model="info" name="name"/><p/>
       密码：<input type="password" name="pwd" v-model="info2"><p/>
       年龄:<input type="text" name="age" v-model="info3"><p></p>
        <button @click="submitInfo">注册</button><p/>
         用户名：<span style="font-size: 50px">{{info}}</span><p/>
       年龄：<span style="font-size: 50px">{{info3}}</span><p/>
   </div>
   <script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
   <!--AJAX-->
   <script src="https://cdn.staticfile.org/vue-resource/1.5.1/vue-resource.min.js"></script>
   <!--Axios-->
   <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script>
      new Vue({
             el:"#vid",
             data:{
                 info:"",
                 info2:"",
                 info3:""
             },
          methods:{
               submitInfo:function () {
                   var name=  (this.info);
                    var pwd=  (this.info2);
                   var age=  (this.info3)
                     //AJAX把数据提交到后台
                   this.$http.get('addUser/'+name+"/"+pwd+"/"+age).then(function (value) {

                   })
               }
          }

      });
  </script>

</body>
</html>