<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
</head>
<body>
<div id="loginDiv">
    <form id="f1">
        用户:<input type="text" name="userName" v-model="userName">
        <p/>
        密码:<input type="password" name="password" v-model="password">
        <p/>
        <input type="button" value="登录" @click="login()">
    </form>
</div>
</body>
<script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
<script src="https://cdn.staticfile.org/vue-resource/1.5.1/vue-resource.min.js"></script>
<script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>
<script src="jquery-3.2.1.min.js"></script>
<script>
    var vm = new Vue({
        el: "#loginDiv",
        data: {
            userName: null,
            password: null
        },
        methods: {
            login: function () {
                var params = new URLSearchParams();
                params.append('userName', this.userName);
                params.append('password', this.password);
                axios.post(
                    "user/login.go",
                    params,
                    {emulateJSON: true}).then(function (res) {
                    var userStr = res.data;
                    if (userStr != null && userStr != ""){
                        location.href = "main.html"
                    }else {
                        alert("账户名或密码错误")
                    }
                }.bind(this), function (res) {

                })
            },
        }
    });
</script>
</html>