<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1 style="color: hotpink">登陆!!</h1>

<script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>


<!--AJAX-->
<script src="https://cdn.staticfile.org/vue-resource/1.5.1/vue-resource.min.js"></script>

<div id="f1">

    <input type="text" name="name" v-model="name"><br>
    <input type="text" name="pwd" v-model="pwd"><br>
    <input type="button" value="登陆" @click="register()">
</div>
<script type="text/javascript">
    var vm = new Vue({
        el:'#f1',
        data:{
            name:this.name,
            pwd:this.pwd
        },
        methods:{
            register:function(){

                var name=this.name;
                var pwd=this.pwd;
                //发送get请求
                this.$http.get('/login/'+name+'/'+pwd).then(function(res){

                     if(res!== null){
                         window.location.href = "http://localhost:8082/success.html";
                     }
                     else{
                         alert("账号密码错误")
                     }

                },function(){
                    console.log('请求失败处理');
                });
            }
        }
    });
</script>
</body>
</html>