<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:p="http://www.springframework.org/schema/p"
        xmlns="http://www.springframework.org/schema/beans"
        xmlns:aop="http://www.springframework.org/schema/aop"
        xmlns:context="http://www.springframework.org/schema/context"
        xmlns:mvc="http://www.springframework.org/schema/mvc"
        xmlns:tx="http://www.springframework.org/schema/tx"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
         					http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
							http://www.springframework.org/schema/tx 
							http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
							http://www.springframework.org/schema/context
							http://www.springframework.org/schema/context/spring-context-4.0.xsd
							http://www.springframework.org/schema/aop
                            http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
                            http://www.springframework.org/schema/mvc   
							http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd">


	<!--配置数据源-->
	<bean id="data" class="com.alibaba.druid.pool.DruidDataSource">
		<!--配置驱动类-->
		<property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
		<!--配置url-->
		<property name="url" value="jdbc:mysql://localhost:3306/shoptest?characterEncoding=utf-8&amp;allowMultiQueries=true"></property>
		<!--mysql用户名-->
		<property name="username" value="root"></property>
		<!--mysql密码-->
		<property name="password" value="666002"></property>


		<!--配置连接池相关信息-->
		<!--初始化连接数量-->
		<property name="initialSize" value="5"></property>
		<!--最大连接数-->
		<property name="maxActive" value="100"></property>
		<!--最长等待时间-->
		<property name="maxWait" value="10000"></property>
		<!--最小连接-->
		<property name="minIdle" value="10"></property>
	</bean>

	<!--配置输出日志,mybatis.jar-->
	<bean class="org.apache.ibatis.session.Configuration" id="configuration">

		<property name="logImpl" value="org.apache.ibatis.logging.stdout.StdOutImpl"></property>
	</bean>
	<!--创建会话工厂,mybatis.spring.jar-->
	<bean id="factory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<!--数据源-->
		<property name="dataSource" ref="data"></property>
		<!--扫描指定包中的实体类，确定每个实体类的别名-->
		<property name="typeAliasesPackage" value="com.project.entity"></property>
		<!--Z链接指定包中的ORM映射文件-->
		<property name="mapperLocations" value="classpath:orm/*.xml"></property>
		<property name="configuration" ref="configuration"></property>
	</bean>


	<!--配置产生mapper,mybatis.spring.jar-->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<!--指定mapper所在的包-->
		<property name="basePackage" value="com.project.mapper"></property>
		<!--配置会话工厂的引用名-->
		<property name="sqlSessionFactoryBeanName" value="factory"></property>
	</bean>

	<!--配置事务管理器,spring-jdbc-4.2.0.RELEASE.jar-->
	<bean id="trans" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<!--配置数据源-->
		<property name="dataSource" ref="data"/>
	</bean>


	<!--允许注解方式配置事务事务管理器-->
	<!--<tx:annotation-driven transaction-manager="trans"/>-->
	<!--SpringAop实现事务-->
	<tx:advice transaction-manager="trans" id="interceptor">
		<tx:attributes>
			<!--所有的方法均采用提交事务-->
			<tx:method name="*" propagation="REQUIRED"/>
			<!--find开始的方法采用非事务-->
			<tx:method name="find" propagation="SUPPORTS" read-only="true"></tx:method>

		</tx:attributes>
	</tx:advice>

	<aop:config>
		<!--定义切入点-->
		<aop:pointcut id="cut" expression="execution(* com.project..*.*(..))"></aop:pointcut>
		<aop:advisor advice-ref="interceptor" pointcut-ref="cut"></aop:advisor>
	</aop:config>
	<!--扫描指定包及其自包中的spring组件-->
	<context:component-scan base-package="com.project"/>
</beans>
